/*------------------------------------------*/
.menu {
  grid-area: menu;
}

/*------------------------------------------*/
.content {
  border-left: var(--panel-border);
  grid-area: content;
}

/*------------------------------------------*/
.status {
  border-left: var(--panel-border);
  grid-area: status;
}

/*------------------------------------------*/
.help {
  border-left: var(--panel-border);
  grid-area: help;
}

/*------------------------------------------*/
.panel-header {
  color: #4c7c9c;
  font-size: 1.4em;
  font-weight: 300;
  text-transform: capitalize;
  border-bottom: 1px solid;
  margin-bottom: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*------------------------------------------*/
.panel-icon {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: auto;
  margin-right: 0;
  height: 1.4em;
}