.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.card {
  padding: 3px;
  width: 250px;
  border-style: outset;
  background-color: var(--bgcolor-card);
  color: var(--color-card);
  margin-bottom: 30px;
}

.card-header {
  padding: 3px;
  border: 1px solid darkgrey;
  border-bottom: 4px double black;
  background-color: var(--bgcolor-page);
  color: var(--color-page);
  font-size: 1.1em;
  /* font-weight: 300; */
  text-transform: capitalize;
  border-bottom: 1px solid;
  margin-bottom: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card:hover {
  background-color: var(--bghover-menu);
  color: var(--color-page);
}
