/*------------------------------------------*/
.menu {
  grid-area: menu;
  background-color: var(--bgcolor-panel);
  color: var(--color-panel);
  overflow: hidden;
}

/*------------------------------------------*/
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  font-size: .9em;
  line-height: 1.1em;

  color: white;
  background-color: #a7b7c2;
  opacity: 0.75;

  padding: 0.5em;
  margin: 0px 4px 4px 0px;
  border: 1px solid #6b7a89;
  border-radius: 10px;
}

.menu-item.is-active {
  font-weight: 700;
  color: #42505f;
  background-color: #e2e5f0;
  opacity: 1;
  border: 1px dashed #6b7a89;
}

.menu-item:hover {
  font-weight: 500;
  opacity: 0.75;
  color: var(--hover-menu);
  background-color: var(--bghover-menu);
}
