
/*------------------------------------------*/
.menu {
  grid-area: menu;
}

/*------------------------------------------*/
.content {
  border-left: var(--panel-border);
  grid-area: content;
}

/*------------------------------------------*/
.status {
  border-left: var(--panel-border);
  grid-area: status;
}

/*------------------------------------------*/
.help {
  border-left: var(--panel-border);
  grid-area: help;
}























.page-sider {
  grid-area: page-sider;
}
.status {
  grid-area: status;
}
.jinky {
  grid-area: jinky;
}
.help {
  grid-area: help;
}
