.search {
  display: grid;
  grid-template-columns: auto 1fr 100fr;
  border-top: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
}

.search_input {
  padding-left: 3px;
  border: 0px !important;
  border-left: 3px solid darkgrey;
  background-color: lightyellow;
}
