/* add custom css code for the Projects compnent here. */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.deleted-project {
  color: lightcoral;
  text-decoration: line-through;
}
