/*------------------------------------------*/
:root {
  --bgcolor-body: #265077;
  --gutter-body: 0px;

  --gutter-whole-page: 0px;
  --color-whole-page: lightyellow;
  --bgcolor-whole-page: #265077;
  --border-whole-page: ridge 3px darkgrey;

  --gutter-page: 0px;
  --color-page: lightyellow;
  --bgcolor-page: #265077;
  --border-page: 1px solid grey;

  --color-panel: lightyellow;
  --bgcolor-panel: #265077;
  --hover-panel: orange;
  --border-panel: 1px dotted rgba(255, 255, 224, 30%);
  --padding-panel: 10px;

  --color2-panel: #265077;
  --bgcolor2-panel: white;
  --border2-panel: 1px dotted #265077;
  --padding2-panel: 10px;

  --color-img-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2106%) hue-rotate(68deg)
    brightness(125%) contrast(111%);

  --card-width: 325px;
  --data-table-padding: 2px;
  --data-table-border: 1px solid black;

  --color-menu: orange;
  --bgcolor-menu: green;
  --hover-menu: #1f2605;
  --bghover-menu: #77879c;
  --color-card: black;
  --bgcolor-card: white;
  /* --green-color: #97cc3b; search for this elsewhere */
  --green-color: #6b902a;  /* search for this elsewhere */
  --red-color: #b40505;
  --yellow-color: yellow;
  --white-color: white;
  --h4-color: #03415d;
}

/*-----------------------------------------------------------------------------*/
@font-face {
  font-family: 'Lato';
  src: local('Lato-Thin'), url(./assets/fonts/Lato/Lato-Thin.ttf) format('ttf');
  font-weight: 300;
}

/*------------------------------------------*/
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor-body);
  font-family: -apple-system, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.warning {
  background-color: var(--red-color);
  color: var(--yellow-color);
}

.okay {
  background-color: var(--green-color);
  color: var(--white-color);
}

h4 {
  margin-top: 2px;
  width: 100%;
  padding-left: 0;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--h4-color);
}