/*------------------------------------------*/
.page-footer {
  margin: unset;
  display: grid;
  grid-area: page-footer;
  grid-template-areas: "left-footer center-footer right-footer";
  grid-template-columns: 200px 2fr minmax(125px, 1fr);
  grid-template-rows: 1fr;
}
.page-footer > div {
  padding: var(--panel-padding);
  padding-top: 2px !important;
  background-color: var(--panel-bgcolor);
  color: var(--panel-color);
}

/*------------------------------------------*/
.left-footer {
  grid-area: left-footer;
  align-content: flex-end;
  color: red;
}

/*------------------------------------------*/
.center-footer {
  grid-area: center-footer;
  border-top: var(--panel-border);
  border-left: var(--panel-border);
}

/*------------------------------------------*/
.right-footer {
  grid-area: right-footer;
  text-align: right;
  border-top: var(--panel-border);
}

.footer-links {
  text-decoration: none;
  color: var(--panel-color);
}

.footer-social {
  height: 33px;
  width: 33px;
  color: var(--panel-color);
  filter: var(--color-img-filter);
}
