/*------------------------------------------*/
:root {
  --whole-page-gutter: 0px;
  --whole-page-bgcolor: navy;
  --whole-page-border: ridge 3px darkgrey;

  --page-bgcolor: #265077;
  --page-color: black;
  --page-border: 1px solid grey;
  --page-gutter: 0px;

  --panel-bgcolor: --page-bgcolor;
  --panel-color: lightyellow;
  --panel-border: 0px dashed black;
  --panel-padding: 10px;

  --color-img-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2106%) hue-rotate(68deg)
    brightness(125%) contrast(111%);
}

/*------------------------------------------*/
.whole-page {
  --this-gutter: var(--whole-page-gutter);
  --parent-gutter: var(--body-gutter);
  --parent-border: 3px;

  margin: var(--parent-gutter);
  padding-bottom: var(--this-gutter);
  width:  calc( 100vw - calc( var(--parent-gutter) * 2) - calc(var(--parent-border) * 2));
  height: calc( 100vh - calc( var(--parent-gutter) * 2) - calc(var(--parent-border) * 2) - calc(var(--this-gutter) * 2));
  min-height: calc(50px + 300px + 25px);

  border: var(--whole-page-border);

  background-color: var(--whole-page-bgcolor);

  display: grid;
  grid-template-rows: minmax(50px, 70px) minmax(300px, auto) minmax(25px, 50px);
  grid-template-areas:
  "page-header"
  "page-content"
  "page-footer";
} 
.whole-page > div {
  padding-bottom: 0px !important;
  margin: var(--whole-page-gutter) var(--whole-page-gutter) 0px var(--whole-page-gutter);
  color: var(--page-color);
  background-color: var(--page-bgcolor);
}
