.group {
  display: grid;
  grid-template-columns: 4fr 4fr;
  justify-items: start;
  border: 1px rgb(6, 18, 122) solid;
  width: 50%;
}

.group-header {
  background-color: rosybrown;
  /* padding: -1px; */
  margin: 10px;
  /* margin: 0em 0px 25px 10px; */
  /* height: 1em; */
  /* width: 100px; */
  /* background-color: white; */
  /* z-index: 10; */
  /* border: 1px lightgrey dotted; */
}