/*------------------------------------------*/
.status {
  border-left: var(--border2-panel);
  grid-area: status;
  background-color: var(--bgcolor2-panel);
  color: var(--color2-panel);
  overflow: hidden;
}

.status-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 0 0.2em;
}

.status-details .disconnected {
  color: var(--red-color);
}

.status-details .connected {
  color: var(--green-color);
}

.status-details .separator {
  width: 100%;
  height: 0.9em;
}

.status-details .left {
  width: 30%;
  /* padding-left: 1em; */
  border-bottom: 1px solid #eee;
}

.status-details .right {
  width: 70%;
  /* padding-left: 1em; */
  border-bottom: 1px solid #eee;
}

.status-details .doublewide {
  width: 100%;
  font-size: 0.85em;
  /* padding-left: 2.25em; */
  padding-left: 1em;
  text-indent: -1em;
  border-bottom: 1px solid #eee;
}

.status-details .bold {
  display: inline;
  font-weight: 600;
  color: var(--h4-color);
}

.status-details .traffic-light {
  vertical-align: top;
  height: 23px;
  width: 37px;
  padding: 4px;
  padding-top: 6px;
}
