/*------------------------------------------*/
.status {
  border-left: var(--border2-panel);
  grid-area: status;
  background-color: var(--bgcolor2-panel);
  color: var(--color2-panel);
  overflow: scroll;
}
