.dt-body {
  background-color: var(--dt-bgcolor-body);
  color: var(--dt-color-body);
  font-weight: 300;
}

.dt-header {
  background-color: var(--dt-bgcolor-header);
  color: var(--dt-color-header);
  padding: var(--data-table-padding);
  display: grid;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-items: center;
  font-weight: 700;
  border-bottom: 2px solid var(--dt-separator);
}

.dt-title {
  text-transform: capitalize;
  align-self: end;
  justify-self: center;
  font-size: 20pt;
  height: 27pt;
}

.dt-row {
  border-bottom: 1px solid var(--dt-separator);
}

.dt-cell {
  padding: var(--data-table-padding);
  overflow: hidden;
  text-overflow: ellipsis;
}

.dt-cell.right {
  text-align: right;
}

.dt-cell.center {
  text-align: center;
}

.dt-cell:hover {
  cursor: pointer;
}

.dt-pill {
  padding: 0px !important;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9em;
  height: 1.5em;
  width: 80px;
  justify-self: stretch;
  align-self: center;
  /* align-self: center;
  justify-self: center;
  margin: 5px 20px 0px 20px;
  justify-self: stretch;
  padding: 0px 0px;
  margin: 5px 20% 5px 20%;
  height: 10px;
  margin: 10px; */
}

.dt-pagination-container {
  align-self: end;
  justify-self: end;
  font-size: 0.95em;
  padding: 0 16px 0 10px;
}

.dt-pagination-perpage {
  cursor: pointer;
  user-select: none;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
  direction: ltr;
  padding: 0 0px 0 10px;
}

.dt-pagination-icons {
  padding: 0 0px 0 10px;
  margin-bottom: -3px;
}

.dt-pagination-icons:hover {
  cursor: pointer;
}

.dt-pagination-icons.disabled {
  color: lightgrey;
  cursor: auto;
}

.dt-search-container {
  display: flex;
  height: 1.8em;
}

.dt-search-container:hover {
  cursor: pointer;
}

.dt-search {
  width: 300px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #e5e5e5;
  padding: 0 32px 0 16px;
  outline: none;
}

.dt-search-clear-button {
  width: 30px;
  background-color: var(--dt-bgcolor-body);
  border: none;
  color: white;
  padding: 8px 8px 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

/*
reateTheme('solarized', {
  text: {
    primary: '#268bd2',
    secondary: '#2aa198',
  },
  background: {
    default: '#002b36',
  },
  context: {
    background: '#cb4b16',
    text: '#FFFFFF',
  },
  divider: {
    default: '#073642',
  },
  button: {
    default: '#2aa198',
    hover: 'rgba(0,0,0,.08)',
    focus: 'rgba(255,255,255,.12)',
    disabled: 'rgba(0,0,0,.12)',
  },
  sortFocus: {
    default: '#2aa198',
  },
});
*/
